.cover {
  max-width: 1184px;
  min-height: 740px;
  background-color: #2a2c2f;
  display: block;
  margin: 92px auto 0;
  color: #fff;
  position: relative;
}
.cover__background {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: height 0.3s ease;
}
.cover__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.cover__title {
  max-width: 656px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
  z-index: 3;
}
.cover__text {
  max-width: 280px;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  z-index: 3;
}
.cover__button {
  width: 198px;
  border-radius: 4px;
  height: 48px;
  background-color: #0278fe;
  color: #fff;
  border: none;
  z-index: 3;
}
.cover__button:hover + .cover__background {
  opacity: 0.5;
}

.cover__button:hover {
  cursor: pointer;
}
.cover__background:hover {
  opacity: 0.8;
  cursor: black;
}
@media screen and (max-width: 1220px) {
  .cover {
    max-width: 768px;
    min-height: 746px;
  }
}

@media screen and (max-width: 580px) {
  .cover {
    max-width: 321.26px;
    min-height: 254px;
  }
  .cover__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
  }
  .cover__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }
}
