.footer {
  display: block;
  margin: auto;
  color: #fff;
  font-family: "inter";
  max-width: 194px;
  padding-top: 92px;
  padding-bottom: 24px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
