.intro {
  max-width: 984px;
  display: block;
  margin: auto;
  padding-top: 92px;
}
.intro__title {
  max-width: 984px;
  color: #fff;
  font-family: "inter";
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  display: block;
  margin: auto;
  transition: font-size 0.3s ease;
}
.intro__text-medium {
  max-width: 722px;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  color: #fff;
  font-family: "inter";
  padding-top: 40px;
  margin: 0;
  position: relative;
  transition: font-size 0.3s ease;
}
.intro__author {
  color: #fff;
  position: absolute;
  right: 0;
  bottom: -20px;
  transition: font-size 0.3s ease;
}
.intro__text-small {
  max-width: 720px;
  color: #fff;
  font-family: "inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 28.08px;
  padding-top: 42px;
  margin: 0;
  transition: font-size 0.3s ease;
}
@media screen and (max-width: 1024px) {
  intro {
    max-width: 720px;
  }
  .intro__title {
    font-size: 54px;
    line-height: 58px;
  }
  .intro__text-medium {
    font-size: 24px;
    line-height: 34px;
  }

  .intro__text-small {
    font-size: 16px;
    line-height: 26px;
  }
}

@media screen and (max-width: 544px) {
  .intro {
    max-width: 288px;
  }
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
  .intro__text-medium {
    font-size: 24px;
    line-height: 30px;
  }
  .intro__text-small {
    font-size: 16px;
    line-height: 26px;
  }
}
