.lead {
  display: block;
  padding-top: 90px;
  max-width: 984px;
  margin: auto;
}
.lead__title {
  max-width: 720px;
  margin: auto;
  color: #fff;
  font-family: "inter";
  font-weight: 900;
  line-height: 100px;
  font-size: 96px;
  text-align: center;
  transition: font-size 0.3s ease;
}

.lead__subtitle {
  max-width: 720px;
  margin: auto;
  color: #fff;
  font-family: "inter";
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  padding-top: 32px;
}

.lead__image {
  max-width: 984px;
  min-height: 615px;
  padding-top: 64px;
  display: block;
  margin: auto;
  filter: grayscale(1);
  width: 100%;
  object-fit: cover;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  transition: min-height 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .lead__title {
    max-width: 530px;
    font-size: 75px;
    line-height: 79px;
  }

  .lead__image {
    min-height: 480px;
  }
}

@media screen and (max-width: 544px) {
  .lead__title {
    max-width: 288px;
    line-height: 44px;
    font-size: 40px;
  }
  .lead__image {
    min-height: 200px;
  }
}
