.website {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 8px;
}
.website__artist {
  max-width: 58px;
  font-family: "inter";
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
  margin: 0;
  color: #aaa;
}
.website__name-charge {
  max-width: 456px;
  font-family: "inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  color: #fff;
}

@media screen and (max-width: 544px) {
  .website__artist {
    max-width: 320px;
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .website__name-charge {
    max-width: 320px;
    grid-column: 1/2;
    grid-row: 2/3;
  }
}
